---
import { SPONSORS } from "../constants/sponsors";
---

<section>
  <h3>Recomendaciones Personales</h3>
  <div>
    <ul>
      {
        SPONSORS.map((sponsor) => (
          <li>
            <a href={sponsor.href}>
              <img src={sponsor.image} alt="" />
            </a>
          </li>
        ))
      }
    </ul>
    <ul>
      {
        SPONSORS.map((sponsor) => (
          <li>
            <a href={sponsor.href}>
              <img src={sponsor.image} alt="" />
            </a>
          </li>
        ))
      }
    </ul>
    <ul>
      {
        SPONSORS.map((sponsor) => (
          <li>
            <a href={sponsor.href}>
              <img src={sponsor.image} alt="" />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
<style>
  section {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
  }

  h3 {
    font-size: var(--subtitle_size);
    color: var(--primary_text);
    text-align: center;
  }

  div {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    gap: 3rem;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    animation: slide 8s infinite linear;
    align-items: center;
    padding: 1.2rem 0;
  }

  img {
    width: 200px;
  }

  div:hover ul {
    animation-play-state: paused;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 3rem));
    }
  }

  @media screen and (max-width: 620px) {
    section {
      padding: 2rem;
      gap: 1rem;
    }

    h3 {
      font-size: var(--subtitle_mobile_size);
    }

    img {
      width: 120px;
    }
  }
</style>
